
body {
  background-color: #ffe8d6;

}
div {
  display: flex;
  justify-content: center;
}

header{
  background-color: #b7b7a4;
  display: inline-block;
  border-radius: 40px;
  margin: 40px;
}
h1 {
  height: 50px;
  text-align: center;
  padding-top: 10px;
  font-size: 75px;
  font-family: 'Berkshire Swash', cursive;
}

table, th, td {
  border: 1px solid;
  border-color: #6B705C;
  background-color: #CB997E;
}

img {
  width: 500px;
  height: auto;
  margin: 40px;
}

section {
  display: flex;
}
table {
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  margin-left: 10%;
}

a {
  background-color: #6b705c;
  text-align: center;
  padding-top: 20px;
  border-radius: 15px;
  color: white;
  font-weight: 800;
  font-family:'Berkshire Swash', cursive;
  max-height: 40px;
  width: 120px;
  margin: 50px;
}