body {
  background-color: #ffe8d6;
}

h1 {
  background-color: #b7b7a4;
  height: 50px;
  text-align: center;
  padding-top: 10px;
  font-family: 'Rubik Bubbles', cursive;
}

img {
  width: 500px;
  height: auto;
  margin: 40px;
}
table {
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
}

a {
  background-color: #6b705c;
  padding: 15px 30px 15px 30px;
  border-radius: 10px;
  color: white;
  font-weight: 800;
  font-family:Arial, Helvetica, sans-serif;
}